<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>実習課題2 自動販売機</title>
    <style>
        section {
            margin-bottom: 20px;
            border-top: solid 1px;
        }

        table {
            width: 1000px;
            border-collapse: collapse;
        }

        table, tr, th, td {
            border: solid 1px;
            padding: 10px;
            text-align: center;
        }

        caption {
            text-align: left;
        }

        .text_align_right {
            text-align: right;
        }

        .drink_name_width {
            width: 100px;
        }

        .input_text_width {
            width: 60px;
        }
    </style>
</head>

<body>
    <h1>自動販売機管理ツール</h1>
    <section>
        <h2>新規商品追加</h2>
        <form method="post" enctype="multipart/form-data">
            <div><label>名前: <input type="text" name="new_name" value=""></label></div>
            <div><label>値段: <input type="text" name="new_price" value=""></label></div>
            <div><label>個数: <input type="text" name="new_stock" value=""></label></div>
            <div><input type="file" name="new_img" accept="image/jpeg,image/png"></div>
            <div>※アップロード可能なファイル形式は「JPEG」「PNG」のみ</div>
            <div>
                <select name="new_status">
                    <option value="1">公開</option>
                    <option value="0">非公開</option>
                </select>
            </div>
            <input type="hidden" name="sql_kind" value="insert">
            <div><input type="submit" value="商品追加"></div>
        </form>
        {% if error_message %}
        <p>{{error_message}}</p>
        {% endif %}

        {% if error_message_image %}
        <p>{{error_message_image}}</p>
        {% endif %}

        {% if error_message_price %}
        <p>{{error_message_price}}</p>
        {% endif %}

        {% if error_message_stock %}
        <p>{{error_message_stock}}</p>
        {% endif %}

        {% if success_message %}
        <p>{{success_message}}</p>
        {% endif %}
    </section>

    <section>
        <h2>商品情報変更</h2>
        <table>
            <caption>商品一覧</caption>
            <tr>
                <th>商品画像</th>
                <th>商品名</th>
                <th>価格</th>
                <th>在庫数</th>
                <th>ステータス</th>
            </tr>

            {% for item in drink %}
            <tr>

                <form method="POST" action="">
                    <!--画像があるパスを指定-->
                    <td><div><img src="{{item.image}}" height="150"></div></td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>

                    <!--在庫数更新-->
                    <td>
                        <p><input type="text"  class="input_text_width text_align_right" name="update_stock" value="{{item.stock}}"></p>
                        <p><input type="submit" value="変更"></p>
                        <input type="hidden" name="drink_id" value="{{item.drink_id}}">
                        <input type="hidden" name="sql_kind" value="update">
                    </td>
                </form>

                <!--公開・非公開ステータス-->
                <div>
                <form method="POST">
                    <td>
                        {% if item.status == 1 %}
                        <p>【現在のステータス】公開</p>
                        <button type="submit" name="change_status" value="0">非公開にする</button>
                        {% elif item.status == 0 %}
                        <p>【現在のステータス】非公開</p>
                        <button type="submit" name="change_status" value="1">公開にする</button>
                        {% endif %}

                        <input type="hidden" name="drink_id" value="{{item.drink_id}}">
                        <input type="hidden" name="sql_kind" value="change">
                    </td>
                </form>
                </div>

            </tr>
            {% endfor %}
        </table>
    </section>
</body>

</html>