<html lang="ja">
<head>
   <meta charset="UTF-8">
   <title>実習課題2 自動販売機</title>
    <style>
        div.drink{
            display: inline-block;
            width: 200px;
            height: 300px;

            text-align: center;
            
        }

    </style>
</head>
<body>
    <h1>自動販売機</h1>

    <form action="result" method="post">
       <p><label>金額： <input type="text" name="payment" value=""></label></p>

        {% for item in drink %}
        
            {% if item.status == 1 %}
            <div class="drink">
                <span><img src="{{item.image}}" height="150"></span>
                <p>{{ item.name }}</p>
                <p>{{ item.price }}円</p>

                {% if item.stock == 0 %}
                <p>売り切れ</p>
                {% else %}
                <p><input type="radio" name="drink_id" value="{{item.drink_id}}"></p>
                <input type="hidden" name="image" value="{{item.image}}">
                <input type="hidden" name="name" value="{{item.name}}">
                <input type="hidden" name="price" value="{{item.price}}">
                <input type="hidden" name="stock" value="{{item.stock}}">
                {% endif %}
            </div>
            {% endif %}
        
        {% endfor %}

        <div id="submit">
            <p><input type="submit" value="購入する"></p>
        </div>

    </form>
</body>
</html>
